@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.6;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

ul{
  padding: 0;
  display: flex;
  gap:15px;
  text-transform: capitalize;
}

li{
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}